.background_image {
    position: fixed;
}
    
#crossfade {
    width: 970px;
    height: 250px;
    position: relative;
    display: inline-block;
}

#crossfade > .in-out { 
    position: absolute;
    color: transparent;
    opacity: 0;
    -webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimationInOut 12s linear 0s;
    -moz-animation: imageAnimationInOut 12s linear 0s;
    -o-animation: imageAnimationInOut 12s linear 0s;
    -ms-animation: imageAnimationInOut 12s linear 0s;
    animation: imageAnimationInOut 12s linear 0s; 
}

#crossfade > .in-only {
    position: absolute;
    color: transparent;
    -webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimationInOnly 12s;
    -moz-animation: imageAnimationInOnly 12s;
    -o-animation: imageAnimationInOnly 12s;
    -ms-animation: imageAnimationInOnly 12s;
    animation: imageAnimationInOnly 12s;
}

#crossfade > div:nth-child(1)  {
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    -o-animation-delay: 0s;
    -ms-animation-delay: 0s;
    animation-delay: 0s; 
}
#crossfade > div:nth-child(2) {
    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
    -o-animation-delay: 3s;
    -ms-animation-delay: 3s;
    animation-delay: 3s; 
}

.button {
    left: 40px;
    top: 180px;
    width: 200px;
    height: 35px;
    position: absolute;
    z-index: 1;
    display: block;
    padding: 5px 0;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: white;
    background: orange;
}

/*box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color];*/

.shadow {
  -webkit-box-shadow: 1px 1px 2px 3px rgba(0, 0, 0, 0.3);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    1px 1px 2px 3px rgba(0, 0, 0, 0.3);  /* Firefox 3.5 - 3.6 */
  box-shadow:         1px 1px 2px 3px rgba(0, 0, 0, 0.3);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

 
#crossfade:hover .button1 .button2 {
    width: 200px;
    height: 34px;
    border: white 1px solid;
}

@-moz-keyframes imageAnimationInOut { 
    0% { opacity: 0;
    -moz-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -moz-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

@-o-keyframes imageAnimationInOut { 
    0% { opacity: 0;
    -o-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -o-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

@-ms-keyframes imageAnimationInOut { 
    0% { opacity: 0;
    -ms-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -ms-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

@keyframes imageAnimationInOut { 
    0% { opacity: 0;
    animation-timing-function: ease-in; }
    8% { opacity: 1;
         animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

@-moz-keyframes imageAnimationInOnly { 
    0% { opacity: 0;
    -moz-animation-timing-function: ease-in; }
    50% { opacity: 0 }
    58% { opacity: 1 }
    100% { opacity: 1 }
}

@-o-keyframes imageAnimationInOnly { 
    0% { opacity: 0;
    -moz-animation-timing-function: ease-in; }
    50% { opacity: 0 }
    58% { opacity: 1 }
    100% { opacity: 1 }
}

@-ms-keyframes imageAnimationInOnly { 
    0% { opacity: 0;
    -moz-animation-timing-function: ease-in; }
    50% { opacity: 0 }
    58% { opacity: 1 }
    100% { opacity: 1 }
}

@keyframes imageAnimationInOnly { 
    0% { opacity: 0;
    -moz-animation-timing-function: ease-in; }
    50% { opacity: 0 }
    58% { opacity: 1 }
    100% { opacity: 1 }
}

/*Caption sliding in from left*/

/*

.slide {
    position: absolute;
    left: -700px;
    width: 100%;
    height: 100%;
    -webkit-animation: slide 2s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 1s forwards;
    animation-delay: 0.3s;
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}
*/
